!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Mis Videos'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Myvideos'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href => "#"} Mis Videos
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                = render 'layouts/navigation_links'
              %li
                = form_tag youtube_index_path, method: :get, class: "navbar-form navbar-left", role: "search" do
                  .form-group
                    = text_field_tag 'q', nil, class: "form-control"
                  %button.btn.btn-default{:type => "submit"}
                    Buscar
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to "CERRAR SESION", destroy_person_session_path, method: :delete

      .container
        = render 'layouts/messages'
        = yield
          